
img {
  max-width: 100%;
  display: block;
}
ul {
  list-style: none;
}

/* Utilities */
.card::after,
.card img {
  border-radius: 50%;
}
.card,
.stats {
  display: flex;
  justify-content: center;
}

.card {
  padding: 2.5rem 2rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .5);
  max-width: 500px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .15);
  margin: 1rem;
  position: relative;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-left: 35%;
  
}
.card::before,
.card::after {
  content: '';
  position: absolute;
  z-index: -1;
}
.card::before {
  width: 100%;
  height: 100%;
  border: 1px solid #FFF;
  border-radius: 10px;
  top: -.7rem;
  left: -.7rem;
}
.card::after {
  height: 15rem;
  width: 15rem;
  background-color: #4172f5aa;
  top: -8rem;
  right: -8rem;
  box-shadow: 2rem 6rem 0 -3rem #FFF
}

.card img {
  width: 8rem;
  min-width: 80px;
  box-shadow: 0 0 0 5px #FFF;
}

.infos {
  margin-left: 1.5rem;
}

.name {
  margin-bottom: 1rem;
}
.name h2 {
  font-size: 1.3rem;
}
.name h4 {
  font-size: .8rem;
  color: #333
}

.text {
  font-size: .9rem;
  margin-bottom: 1rem;
}

.stats {
  margin-bottom: 1rem;
}
.stats li {
  min-width: 5rem;
}
.stats li h3 {
  font-size: .99rem;
}
.stats li h4 {
  font-size: .75rem;
}

.links button {
  font-family: 'Poppins', sans-serif;
  min-width: 120px;
  padding: .5rem;
  border: 1px solid #222;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all .25s linear;
}
.links .follow,
.links .view:hover {
  background-color: #222;
  color: #FFF;
}
.links .view,
.links .follow:hover{
  background-color: transparent;
  color: #222;
}

@media screen and (max-width: 450px) {
  .card {
    display: block;
  }
  .infos {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .links button {
    min-width: 100px;
  }
}


/* Uploaded video */
.upload-video{
    padding: 3rem;
    background-color: rgba(236, 220, 246, 0.399);
    margin: 10rem;
    border-radius: 2rem;
    margin-bottom: 10rem;
  }
  .upload-video h2{
    font-weight: 800;
    color: var(--accent-color);
    
  }
  .upload-video h6{
    margin: 0rem;
  }
  .videos{
    display: flex;
    justify-content: space-around;
  }

  .videos video{
    width: 20rem;
    border-radius: 5px;
  }



  .box {
    width: 200px; /* Set the width as needed */
    height: 200px; /* Set the height as needed */
    background-color: #dcf1ff; /* Set the background color */
    color: #fff; /* Set the text color */
    border-radius: 10px; /* Set border radius for rounded corners */
    padding: 2px; /* Set padding inside the box */
    margin: 20px; /* Set margin around the box */
    text-align: center; /* Center text horizontally */
    line-height: 1.5; /* Set line height for better readability */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out;
  }

  .box:hover {
    transform: scale(1.1); /* Increase size on hover */
  }
  