<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developers</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/developer.css">
</head>
<body>
    <div class="developers">
        <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-sm-8 col-lg-6">
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                  <h3 style="color: aliceblue;">About <span> Developers</span></h3>
                  <div class="line"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6 col-lg-3">
                <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                  <div class="advisor_thumb"><img src="/sujal-developer.jpg" alt="" style="width: 350px;height: 450px;object-fit: cover;">
                    <div class="social-info"><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
                  </div>
                  <div class="single_advisor_details_info">
                    <h6>Sujal Agrawal</h6>
                    <p class="designation">Full stack Developer</p>
                  </div>
                </div>
              </div>
              
              <div class="col-12 col-sm-6 col-lg-3">
                <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
 
                  <div class="advisor_thumb"><img src="/saify-developer.jpg" alt="" style="width: 350px;height: 450px;object-fit: cover;">

                    <div class="social-info"><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
                  </div>
                  <div class="single_advisor_details_info">
                    <h6>Mohammad Saify Sheikh</h6>
                    <p class="designation">Full Stack Developer</p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-6 col-lg-3">
                <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
 
                  <div class="advisor_thumb"><img src="/milind-developer.jpg" alt="" style="width: 350px;height: 450px;object-fit: cover;">

                    <div class="social-info"><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
                  </div>
                  <div class="single_advisor_details_info">
                    <h6>Milind Dadore</h6>
                    <p class="designation">Full Stack Developer</p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
    </div>
</body>
</html>