<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/profile.css">
    <title>Document</title>
</head>
<body>
     <!-- Hero section to introduce the website  -->
     <section class="blocks block-gradient curve">
        <div class="hero-content container">
  
          <!-- Navigation bar -->
          <nav class="nav collapsible collapsible-expanded">
            <a href="index.html"><img class="logo" src="/logo.png" alt="Image of the websites logo" srcset=""></a>
            <div class="toggle"><i class="fa-solid fa-bars-staggered"></i></div>
            <ul class="list nav-list collapsible-content">
              <li class="nav-item current"><a href="index.html">Home</a></li>
              <li class="nav-item"><a href="/developer.html">About Us</a></li>
              <li class="nav-item"><a href="/tutor-process.html">Be a Tutor</a></li>
              <li class="nav-item"><a href="/meet.html">Meets</a></li>
            </ul>
          </nav>
          <div class="mainContainer">
            <div class="card-container">
                <img class="round" src="/user.jpeg" alt="user" />
                <h3 id='username'></h3>
                <h6></h6>
                <p id="email"></p>
                
                <div class="skills">
                    <h6>College</h6>
                    <p id="college"></p>
                </div>
            </div>
      </div>
        </div>
        <!-- Curved decoration of the hero section -->
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
          <path fill="#fff" fill-opacity="1"
            d="M0,128L60,154.7C120,181,240,235,360,224C480,213,600,139,720,128C840,117,960,171,1080,165.3C1200,160,1320,96,1380,64L1440,32L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
          </path>
        </svg>
      </section>


</body>
<script>
  const currentParams = new URLSearchParams(window.location.search);
  async function LoadRecruiterData(){
    const response = await fetch(`/getStudent/${currentParams.get('recruiterId')}`);
    const recruiterData = await response.json();
    document.getElementById('username').innerHTML = recruiterData.studentInfo.username
    document.getElementById('email').innerHTML = recruiterData.studentInfo.email
    document.getElementById('college').innerHTML = recruiterData.studentInfo.college
  }
  LoadRecruiterData();
</script>
</html>