<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio Project</title>
    <link rel="stylesheet" href="/project.css" />
    <link rel="website icon" type="png" href="/website icon.png" />
    <style>
      * {
        background-color: #0e1424;
      }
    </style>
  </head>

  <body>
    <div class="">
      <h2>Project Description</h2>
      <div class="vid">
        <iframe
          width="800"
          height="345"
          src="https://www.youtube.com/embed/UGxxp5PAmT0"
        ></iframe>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="vl"></div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="writeup" style="width: 1100px">
          <h1 style="color: aliceblue">Portfolio</h1>
          <p style="color: rgb(223, 226, 233); font-size: 20px; opacity: 0.7">
            The Weather Detection Web Application is a user-friendly and
            informative web-based tool that allows users to quickly access
            real-time weather information for any location worldwide. This
            project utilizes a combination of HTML, CSS, and JavaScript to
            create an interactive and visually appealing interface.
            Additionally, it leverages a weather API to fetch and display
            up-to-date weather data.
          </p>
          <h4 style="font-size: 22px; color: aliceblue; font-weight: 300">
            Tech Stack -
          </h4>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JAVASCRIPT</li>
            <li>WEATHER API</li>
          </ul>
          <h4 style="font-size: 22px; color: aliceblue; font-weight: 300">
            Website Link :
            <a href="main.html" style="color: rgb(223, 226, 233); opacity: 0.7"
              >www.portfolio.com</a
            >
          </h4>
        </div>
      </div>
      <button>
        <a href="https://github.com/SaifySheikh">Get Source Code</a>
      </button>
    </div>
  </body>
</html>