<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Patshaala/public/main.css">
    <link rel="stylesheet" href="/Patshaala/public/subject.css">
    <title>Document</title>
</head>
<body>
     <!-- Hero section to introduce the website  -->
    <section class="blocks block-gradient curve">
        <div class="hero-content container">
  
          <!-- Navigation bar -->
          <nav class="nav collapsible collapsible-expanded">
            <a href="index.html"><img class="logo" src="images/TextLogo.svg" alt="Image of the websites logo" srcset=""></a>
            <div class="toggle"><i class="fa-solid fa-bars-staggered"></i></div>
            <ul class="list nav-list collapsible-content">
              <li class="nav-item current"><a href="index.html">Home</a></li>
              <li class="nav-item"><a href="links/about.html">About Us</a></li>
              <li class="nav-item"><a href="links/programs.html">Be a Tutor</a></li>
              <li class="nav-item"><a href="#streaks.html">
                <img src="/Patshaala/assets/flame.png" class="streak" alt="">
              </a></li>
              <li class="nav-item"><a href="links/features.html">Profile</a></li>
            </ul>
            <a href="links/form.html" class="nav-button collapsible-content">
              <button class="btn btn-accent btn-callout">Login</button>
            </a>
          </nav>
          <div class="mainContainer">
          <div class="search-video-container">
          <h2>Search video lecture of specific topic...</h2>
          <form class="searchform cf">
            <input type="text" placeholder="Is it me you’re looking for?">
            <button type="submit">Search</button>
          </form>
        </div>
        <img src="/Patshaala/assets/teaching.gif" alt="">
      </div>
        </div>
        <!-- Curved decoration of the hero section -->
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
          <path fill="#fff" fill-opacity="1"
            d="M0,128L60,154.7C120,181,240,235,360,224C480,213,600,139,720,128C840,117,960,171,1080,165.3C1200,160,1320,96,1380,64L1440,32L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
          </path>
        </svg>
      </section>

      <section class="recent_video">
            <h2>Recent</h2>
            <video controls="controls">
                <source src="/Patshaala/assets/demo.mp4" type="video/mp4" />
               </video>
               <video controls="controls">
                <source src="/Patshaala/assets/demo2.mp4" type="video/mp4" />
               </video>
      </section>
      <section class="additional">
        <a href="quiz.html">
        <div class="additional-ele">
                  <img src="/Patshaala/assets/quiz.png" alt="">
                  <h3>Quiz</h3>
                  <p>Solve topic wise quiz </p>
        </div>
    </a>
    <a href="pyq.html">
        <div class="additional-ele">
            <img src="/Patshaala/assets/paper.png" alt="">
            <h3>PYQ's</h3>
            <p>Access all most important questions</p>
  </div>
</a>
<a href="discussion.html">
  <div class="additional-ele">
    <img src="/Patshaala/assets/conversation.png" alt="">
    <h3>Discussion</h3>
    <p>Discuss your queries with peers</p>
</div>
</a>
      </section>
</body>
</html>