<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/subject.css">
    <title>Document</title>
</head>
<body>
     <!-- Hero section to introduce the website  -->
    <section class="blocks block-gradient curve">
        <div class="hero-content container">
  
          <!-- Navigation bar -->
          <nav class="nav collapsible collapsible-expanded">
            <a href="/index.html"><img class="logo" src="/logo.png" alt="Image of the websites logo" srcset=""></a>
            <div class="toggle"><i class="fa-solid fa-bars-staggered"></i></div>
            <ul class="list nav-list collapsible-content">
              <li class="nav-item current"><a href="index.html">Home</a></li>
              <li class="nav-item"><a href="links/about.html">About Us</a></li>
              <li class="nav-item"><a  onclick="redirectToNextPage()">Be a Tutor</a></li>
              <li class="nav-item"><a href="meet.html">Meets</a></li>
              <li class="nav-item"><a href="links/features.html">Profile</a></li>
            </ul>
          </nav>
          <div class="mainContainer">
          <div class="search-video-container">
          <h2>Search video lecture of specific topic...</h2>
          <form id="topic-form" onsubmit="handleSubmit(event)" class="searchform cf">
            <input type="text" id="topic-name" placeholder="Is it me you’re looking for?">
            <button type="submit">Search</button>
          </form>
        </div>
        <img src="/teaching.gif" id="teaching-gif" alt="">
        <iframe id="subject-video" width="420" height="250"
        src="/os.mp4">
        </iframe>
      </div>
        </div>
        <!-- Curved decoration of the hero section -->
        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
          <path fill="#fff" fill-opacity="1"
            d="M0,128L60,154.7C120,181,240,235,360,224C480,213,600,139,720,128C840,117,960,171,1080,165.3C1200,160,1320,96,1380,64L1440,32L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
          </path>
        </svg>
      </section>

      <section class="recent_video">
            <h2>Recent</h2>
            <video controls="controls">
                <source src="/demo.mp4" type="video/mp4" />
               </video>
               <video controls="controls">
                <source src="/demo2.mp4" type="video/mp4" />
               </video>
      </section>
      <section class="additional">
        <a onclick="redirectQuiz()">
        <div class="additional-ele">
                  <img src="/quiz.png" alt="">
                  <h3>Quiz</h3>
                  <p>Solve topic wise quiz </p>
        </div>
    </a>
    <a href="https://drive.google.com/drive/folders/1W7thFCeoNokaS8LD1hrjybJNtM_NtwZT?usp=drive_link" target="_blank">
        <div class="additional-ele">
            <img src="/paper.png" alt="">
            <h3>PYQ's / Notes</h3>
            <p>Access all most important questions</p>
  </div>
</a>
<a href="discussion.html">
  <div class="additional-ele">
    <img src="/conversation.png" alt="">
    <h3>Discussion</h3>
    <p>Discuss your queries with peers</p>
</div>
</a>
      </section>

<!-- footer -->
<footer class="blocks block-dark">
  <div class="container grid footer-sections">

    <!--Footer contact us-->
    <section class="footer-contact">
      <h2 id="contact" class="footer-title">Contact us</h2>
      <input class="footer-input" type="text" placeholder="Enter Your Name">
      <input class="footer-input" type="email" placeholder="Enter Your Email Address">
      <textarea class="footer-input" cols="10" rows="5" placeholder="Write Your Message..."></textarea>
      <a href="#"><button class="btn btn-contact btn-block">Send</button></a>
    </section>

    <!--Footer links-->
    <section class="footer-links">
      <ul class="list list-footer">
        <a href="#">
          <li>Terms & Conditions</li>
        </a>
        <a href="#">
          <li>Developers</li>
        </a>
        <a href="#">
          <li>Company</li>
        </a>
        <a href="#">
          <li>Security</li>
        </a>
        <a href="#">
          <li>Support</li>
        </a>
        <a href="#">
          <li>Legal</li>
        </a>
        <a href="#">
          <li>App</li>
        </a>
      </ul>
    </section>

    <!--Footer developer brand-->
    <section class="footer-brand">
      
      <a href="#">
        <img class="footer-image" src="/logobg.png" alt="Logo of company">
      </a>
      <p>Pathshaala is a leading peer to peer study startup created by students of CSE 6B , RCOEM . It is revolutionary platform wherein student from across the country can learn enthusiastically.</p>
      <div class="contact-icons">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#"><i class="fa-solid fa-envelope"></i></a>
        <a href="#"><i class="fa-solid fa-phone"></i></a>
        <a href="#"><i class="fa-solid fa-location-dot"></i></a>
      </div>
    </section>
  </div>
  <section>
    <p class="copyright">All rights reserved by <b>Govan Studio</b> 2023 (Pty) Ltd</p>
  </section>
</footer>
</body>

<script>
  function handleSubmit(event){
    event.preventDefault();
    const topicName = document.getElementById('topic-name').value;
    console.log(topicName);
    if(topicName.trim().length === 0){
      alert('Invalid topic');
    }else{
      console.log('success');
      const teachingGif = document.getElementById('teaching-gif');
      const subjectVideo = document.getElementById('subject-video');
      teachingGif.style.display = 'none';
      subjectVideo.style.display = 'block';
    }
  }

  //redirect to tutor process
  function redirectToNextPage() {
            const currentParams = new URLSearchParams(window.location.search);
            const nextPageUrl = `tutor-process.html?recruiterId=${currentParams.get('recruiterId')}`;
            window.location.href = nextPageUrl;
}
function redirectQuiz(){
            const currentParams = new URLSearchParams(window.location.search);
            const nextPageUrl = `quiz.html?recruiterId=${currentParams.get('recruiterId')}`;
            window.location.href = nextPageUrl;
}
</script>

</html>