<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Patshaala/public/all-tutor.css">
</head>
<body>
    <div class="card">
        <div class="img">
          <img src="https://images.unsplash.com/photo-1610216705422-caa3fcb6d158?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fGZhY2V8ZW58MHwyfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
        </div>
        <div class="infos">
          <div class="name">
            <h2>Abhijeet Raipurkar sir</h2>
            <h4>Database and Management System</h4>
          </div>
          <p class="text">
            I'm a Database and Management System, follow me to be the first 
            who see my new work.
          </p>
          <ul class="stats">
            <li>
              <h3>15K</h3>
              <h4>Views</h4>
            </li>
            <li>
              <h3>8</h3>
              <h4>video</h4>
            </li>
            <li>
              <h3>1</h3>
              <h4>Notes</h4>
            </li>
          </ul>
          <div class="links">
            <button class="follow">Follow</button>
          </div>
        </div>
    </div>
    <section class="upload-video">
        <h2>Your Uploaded videos</h2>
        <div class="videos">
            <div class="video-ele">
                <h6>Introduction to DSA
                </h6>
                <video controls="controls">
                    <source src="/Patshaala/assets/tutoeVid2.mp4" type="video/mp4" />
                   </video>
            </div>
            <div class="video-ele">
                <h6>Linked list
                </h6>
                <video controls="controls">
                    <source src="/Patshaala/assets/tutorVid1.mp4" type="video/mp4" />
                   </video>
            </div>
        </div>
      </section>

      <section class="upload-video">
        <h2>Your Uploaded notes</h2>
        <div class="videos">
          <div class="video-ele">
            <h6 id="topic" style="font-size: medium; ">Introduction to DSA</h6>
            <a href="your_link_here.html">
              <img src="/Patshaala/assets/notes.png" alt="notes" class="box">
            </a>
          </div>
          <div class="video-ele">
            <h6 id="topic" style="font-size: medium; ">Linked list</h6>
            <a href="your_link_here.html">
              <img src="/Patshaala/assets/notes.png" alt="notes" class="box">
            </a>
          </div>
          <div class="video-ele">
            <h6 id="topic" style="font-size: medium; ">Introduction to Algorithms</h6>
            <a href="your_link_here.html">
              <img src="/Patshaala/assets/notes.png" alt="notes" class="box">
            </a>
          </div>
        </div>
      </section>
      
    
</body>
</html>