<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor Process</title>
    <link rel="stylesheet" href="/tutor-process.css">
</head>
<body>
    <form id='tutor-form' >
    <div class="form">
        <div class="title">Tutor Process</div>
        <div class="subtitle">Become Our Tutor!</div>
        <div class="input-container ic1">
          <input id="subjectname" name="subject" class="input" type="text" placeholder=" " />
          <div class="cut"></div>
          <label for="subjectname" class="placeholder">Subject Name</label>
        </div>
        <div class="input-container ic1">
            <input id="notes-link" name="notesLink" class="input" type="text" placeholder=" " />
            <div class="cut"></div>
            <label for="notes-link" class="placeholder">Notes Link</label>
          </div>
       
        <button type="text" class="submit">submit</button>
      </div>
    </form>
</body>
<script>
    const searchParams = new URLSearchParams(window.location.search);
    const tutorForm = document.getElementById('tutor-form');
    tutorForm.addEventListener('submit', async function (e) {
        e.preventDefault();
        const formData = new FormData(tutorForm).entries()
        const data = Object.fromEntries(formData);
        data.studentId = searchParams.get('recruiterId');
        console.log(data);
        const response = await fetch('/register-tutor', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(data)
        });

        const result = await response.json();
        console.log(result)
        window.location.href = `/tutor.html?recruiterId=${searchParams.get('recruiterId')}`
    });
</script>

</html>