<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Patshaala/public/video-upload.css">
    <title>Document</title>
</head>
<body>
    <form action method="post">
  
        <h1><strong>Upload Session</strong></h1>
        
        <div class="form-group">
          <label for="title">Title <span>Use title case to get a better result</span></label>
          <input type="text" name="title" id="title" class="form-controll"/>
        </div>
        <div class="form-group">
          <label for="caption">Caption <span>This caption should be descriptiv</span></label>
          <input type="text" name="caption" id="caption" class="form-controll"/>
        </div>
        
        <div class="form-group file-area">
              <label for="images">Video <span>Your Video should be at least 50MB of size</span></label>
          <input type="file" name="images" id="images" required="required" multiple="multiple"/>
          <div class="file-dummy">
            <div class="success">Great, your files are selected. Keep on.</div>
            <div class="default">Please select some files</div>
          </div>
        </div>
        
        <div class="form-group">
          <button type="submit">Upload Video</button>
        </div>
        
      </form>
      
      
      
      
      
      
      <link href='https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700' rel='stylesheet' type='text/css'>

</body>
</html>