<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/video-upload.css">
    <title>Document</title>
</head>
<body>
    <form id="tutor-notes-upload">
  
        <h1><strong>Upload Section</strong></h1>
        
        <div class="form-group">
          <label for="title">Title <span>Use title case to get a better result</span></label>
          <input type="text" name="title" id="title" class="form-controll"/>
        </div>
        <div class="form-group">
          <label for="caption">Caption <span>This caption should be descriptiv</span></label>
          <input type="text" name="caption" id="caption" class="form-controll"/>
        </div>
        
        <div class="form-group">
              <label for="notes">Notes Link</label>
          <input type="text" name="notes" id="notes" class="form-controll" required="required" />
        </div>
        
        <div class="form-group">
          <button type="submit">Submit</button>
        </div>
        
      </form>
      
      
      
      
      
      
      <link href='https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700' rel='stylesheet' type='text/css'>

</body>
<script>
    const searchParams = new URLSearchParams(window.location.search);
    const tutorUploadForm = document.getElementById('tutor-notes-upload');
    tutorUploadForm.addEventListener('submit', async function (e) {
        e.preventDefault();
        const formData = new FormData(tutorUploadForm).entries()
        const data = Object.fromEntries(formData);
        data.studentId = searchParams.get('recruiterId');
        console.log(data);
        const response = await fetch('/upload-notes-link', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(data)
        });

        // const result = await response.json();
        // console.log(result)
        window.location.href = `/tutor.html?recruiterId=${searchParams.get('recruiterId')}`
    });
</script>
</html>